body{
margin: 0px;
}
main{
    margin-left: 20px;
}

h1 {
    text-align: center;
}

.navbar ul {
    background-color: rgb(225, 225, 225);
    overflow:hidden

}

.navbar a {
    color: black;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar li{
    float: left;
}
h2{
    font-size: xx-large;
    padding: 30px;
    font-variant: normal;
    display: center;
}