body{
margin: 0px;
}
main{
    margin-left: 20px;
}

h1 {
    text-align: center;
}

.navbar ul {
    background-color: rgb(30, 30, 30);
    overflow: hidden;
    display: block;
    text-decoration: none;
}

.navbar a {
    color: rgb(255, 255, 255);
    padding: 15px;
    display: block;
    text-align: center;
    text-decoration: none;
}
.navbar li{
    float: left;
    list-style-type: none;
}
h2{
    font-size: xx-large;
    padding: 30px;
    font-variant: normal;
    display: center;
    text-align: center;
}
img{
    padding: 100px;
    display: center;
    
}
h1{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: xx-large;
display: block;
font-style: oblique;
}