body {
    background-image: url(bilder/);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1200px;
    background-size: 100%;
}

.valveloggarod {
    width: 120px;
    background-position: center;
    background-attachment: fixed;
    margin: 3px;
    padding-left: 395px;
}

h1 {
    color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 399px;
}
p{
    color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 660px;
    padding-left: 400px;
}
.ljust{
    color: goldenrod;
    padding-left: 399px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}
h2{
    color: goldenrod;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 399px;
}
.ljust1{
    color: goldenrod;
    padding-left: 399px;
    width: 647px;
}
.ljust2{
    color: goldenrod;
    padding-left: 399px;
    width: 647px;   
}
.ljust3{
    color: goldenrod;
    padding-left: 399px;
    width: 647px;  
    padding-top: 12px; 
}
.ljust4{
    color: goldenrod;
    padding-left: 399px;
    padding-top: 45px;
    width: 647px; 
    font-size: smaller;
}
.halflife{
    width: 120px;
    background-attachment: fixed;
    padding-left: 200px;
}