body {
    background-image: url(bilder/valvesnew.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1200px;
    background-size: 100%;
    overflow: hidden
}

.valveloggarod {
    width: 120px;
    background-position: center;
    background-attachment: fixed;
    margin: 3px;
    padding: 4px;
    padding-left: 395px;
}

h1 {
    color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 399px;
    font-size: x-large;
}
p{
    color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 660px;
    padding-left: 400px;
}
.ljust{
    color: goldenrod;
    padding-left: 399px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}
h2{
    color: goldenrod;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 399px;
    font-size: x-large;
}
.ljust1{
    color: goldenrod;
    padding-left: 399px;
    width: 647px;
}
.ljust2{
    color: goldenrod;
    padding-left: 399px;
    width: 647px;   
}
.ljust3{
    color: goldenrod;
    padding-left: 399px;
    width: 647px;  
    padding-top: 12px; 
}
.ljust4{
    color: goldenrod;
    padding-left: 399px;
    padding-top: 127px;
    width: 647px; 
    margin-top: 120px;
    font-size: smaller;
}
.halflife{
    width: 120px;
    padding-left: 80px;
    position: absolute;
    left: 100px;
    top: 240px;  
    text-align: center;
}
.rod1{
    color: #c30202;
    font-style: italic;
    text-decoration: underline;
}
.rod2{
    color: #c30202;
    text-decoration: underline;
}