body{
background-color:gray
}

body{
color: black;


}


button{
width: 30x;
padding: 100px;
margin: 10px;
}

h1{

    margin: left 20%;
    margin: right 20%;
    font-size: xx-large;
    font: bold;
}


.taltext{
margin left: 40px;

font-size: xx-large;

}


.main{

    margin-left: 200px;
}
