body {
    background-color: rgb(237, 237, 237);
}

table {
    border: 3px;
    border-style: solid;
    width: 400px;
}

td {
    border: 5px;
    border-style: solid;
    width: 400px;

}

div {
    padding: 50px;
}