body{
    border-radius: 50%;
    display: inline-block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    padding: 100px;
    padding-right: 990px;
    width: 2000px;
}
li{
    height: 20px;
    line-height: 719px
}
.matlogga{
position: absolute; 
bottom: 10px;
width: 900px;
right: 1000px;
}
strong{
 position: absolute;
 bottom: 220px;
 right: 1220px;
}
.recept{
    text-decoration: underline;
}
