* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: rgb(8, 12, 14);  
}

nav {
    background: #efefef;
    height: 60px;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label.loggan {
    font-size: larger;
    color: rgb(1, 71, 117);
    font-size: 40px;
}

nav ul {
    float: right;
    padding-right: 0px;
    margin: 14px;
    position: absolute;
    background-position: center;
    background-attachment: fixed;
    left: 300px;
    top: 0px;  
}

nav ul li {
    display: inline-block;
    line-height: 20px;
    margin: 6px;
    font-size: 19px;
    background-position: center;
    background-attachment: fixed;
}

.grytan {
    position: absolute;
    right: 900px;
    background-attachment: fixed;
    top: 1px;
    bottom: 3px;
}

.text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment: fixed;
    position: absolute;
    left: 999px;
    top: 220px;
}

.minarecepter {
    text-decoration: underline;
}

li {
    height: 20px;
    line-height: 919px;
    padding-left: 10px;
    margin: 2px;
}

strong {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment: fixed;
    position: absolute;
    left: 578px;
    width: 680px;
    top: 220px;
}

.ins1 {
    position: absolute;
    left: 490px;
    top: 24px;

}

.ins2 {
    position: absolute;
    left: 490px;
    top: 42px;
}

.ins3 {
    position: absolute;
    left: 490px;
    top: 62px;
}

.ins4 {
    position: absolute;
    left: 490px;
    top: 83px;
}

.ins5 {
    position: absolute;
    left: 490px;
    top: 103px;
}

.ins6 {
    position: absolute;
    left: 490px;
    top: 122px;
}

.ins7 {
    position: absolute;
    left: 490px;
    top: 143px;
}
.ins8 {
    position: absolute;
    left: 490px;
    top: 1px;
}